/nbproject/private/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/nbproject/
/.dep.inc
/.vscode/
/ControlDesign/
/MatlabSessions/
/Scripts/plotTemporal.py
/Scripts/plotTemporalAll.py
/Scripts/Launch_1.sh
/Scripts/extractAppLogs.py
logs/
logs_5ms/
maya_logs/
Build/
Dist/
*.pth
*.pt
__pycache__/
*.tar.gz
aml_logs/
maya_5ms/
*.trace